<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooluke.biz.integration.dao.UserTokenDAO">

    <resultMap id="BaseResultMap" type="com.gooluke.biz.entity.TUserToken">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="expire_time" jdbcType="VARCHAR" property="expireTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <select id="selectByUserIdAndToken" resultMap="BaseResultMap">
        select * from t_user_token where user_id = #{userId} and token = #{token};
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select * from t_user_token where user_id = #{userId};
    </select>

    <insert id="insert" parameterType="com.gooluke.biz.entity.TUserToken">
        insert into t_user_token (user_id, token, status, expire_time)
        values (#{userId}, #{token}, #{status}, #{expireTime});
    </insert>


    <update id="update" parameterType="com.gooluke.biz.entity.TUserToken">
        update t_user_token
        <set>
            <if test="token != null and token !=''">token = #{token},</if>
            <if test="status != null and token !=''">status = #{status},</if>
            <if test="expireTime != null and expireTime !=''">expire_time = #{expireTime},</if>
        </set>
        where user_id = #{userId};
    </update>
</mapper>