<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooluke.biz.integration.dao.UserInfoDAO">

    <resultMap id="BaseResultMap" type="com.gooluke.biz.entity.TUserInfo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from t_user_info where id = #{id}
    </select>

    <select id="selectByUserIdAndPassword"  resultMap="BaseResultMap">
        select * from t_user_info where user_id = #{userId} and password = #{password};
    </select>

    <select id="selectUserList" parameterType="com.gooluke.biz.entity.TUserInfo" resultMap="BaseResultMap">
        select * from t_user_info
        <where>
            <if test="userId != null and userId !=''">and user_id like concat('%',#{userId},'%')</if>
            <if test="userName != null and userName !=''">and user_name like concat('%',#{userName},'%')</if>
            <if test="nickName != null and nickName !=''">and nick_name like concat('%',#{nickName},'%')</if>
            <if test="address != null and address !=''">and address like concat('%',#{address},'%')</if>
        </where>
        order by id
        <if test="page != null">
            limit ${(page.currentPage -1) * page.pageSize}, ${page.pageSize}
        </if>
    </select>

</mapper>